@page
@model BankLoginPage1._20.Views.Account.DashboardModel
@{
    <h1>Welcome to the Dashboard</h1>
    <p>Here are your account-related activities:</p>
    <button>View Account Details</button>
    <button>Make a Transfer</button>
    <button>Change Password</button>
    <br>
    <a asp-page="/Account/Logout">Logout</a>
}
